<div class="row">
  <div class="col-md-9">
    <h1>Listing Topics</h1>
    <table class="table table-striped table-hover ">
      <thead>
      <tr class="info">
        <th>Image</th>
        <th>Title</th>
        <th>DateCreate</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @doc.css(@article_css_class).each do |article| %>
        <% article_link = article.css('.img').attr('href').text %>
        <tr>
          <td style="width: 100px;"><img style="width: 100px;" src="http://gamebomb.ru<%= article.css('img').attr('src').text %>" alt="<%= article.css('img').attr('alt').text %>"></td>
          <td style="max-width: 50px;"><%= link_to article.css(@article_header_css_class).text, parser_show_path(article_link: article_link) %></td>
          <td style="max-width: 50px;"><%= article.css(@article_date_css_class).text %></td>
          <td style="max-width: 50px;"><p><%= article.css(@article_text_css_class).text %></p></td>
          <td><%= link_to 'Add to favorites', controller: 'favorites', action: :create, method: :post, link: article_link %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <%= render partial: 'layouts/favorites' %>
  </div>
</div>
